<.flash_group flash={@flash} />
<div style="position: absolute; display: flex; flex-direction: column">
  <p>W, A, S, D to move the ball. Use Buttons to select which side you are on</p>
  <button id="left-player">Left</button>
  <button id="right-player">Right</button>
</div>
<canvas id="gameCanvas"></canvas>
